<section id="content-data"> 
    <div class="form-container">
      <div class="form-left">
        <form>
          <div>
            <label for="cedula">Cédula:</label>
            <input id="cedula" type="text">
          </div>
        </form>
      </div>
    </div>
    <button class="btn-editar" >Buscar</button>
  
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Listado Eventos</h3>
          <i class='bx bx-search'></i>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Fecha</th>
              <th>Estudiante</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Matrícula</td>
              <td>2023-07-27</td>
              <td>Juan Pérez</td>
              <td>
                <button class="btn-editar">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  