nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
nav a {
	color: var(--dark);
}
nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}

nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

button {
	width: 80px;
	height: 25px;
	position: relative;
	overflow: hidden;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background: var(--light);
}

button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--dark-grey);
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
}

button:hover::before {
	transform: scaleX(1);
}

.example-spacer {
    flex: 1 1 auto;
  }