<!---<mat-toolbar color="primary">
    <span>UPS Educativo</span>

    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="clientes/gestion-clientes" color="primary">Clientes</button>
    <button mat-flat-button routerLink="productos/gestion-productos" color="primary">Productos</button>
    <button mat-flat-button routerLink="facturas/gestion-facturas" color="primary">Listar Facturas</button>
    <button mat-flat-button routerLink="facturas/crear-facturas"  color="primary">Nueva Factura</button>
    <span class="example-spacer"></span>
</mat-toolbar>--->
<section id="content">
    <nav>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class='bx bxs-bell' ></i>
            <span class="num">8</span>
        </a>
        <a href="#" class="profile">
            <img src="img/people.png">
        </a>
    </nav>
</section>