<section id="content-data">
    <div class="form-container">
      <div class="form-left">
        <form (ngSubmit)="guardar()">
          <div>
            <label for="nombre">Nombre:</label>
            <input id="nombre" type="text" [(ngModel)]="usuario.usuNombre" name="nombre">
          </div>
          <div>
            <label for="apellido">Apellido:</label>
            <input id="apellido" type="text" [(ngModel)]="usuario.usuApellido" name="apellido">
          </div>
          <div>
            <label for="correo">Correo:</label>
            <input id="correo" type="email" [(ngModel)]="usuario.usuCorreo" name="correo">
          </div>
          <div>
            <label for="password">Contraseña:</label>
            <input id="password" type="password" [(ngModel)]="usuario.usuPassword" name="password">
          </div>
          <div>
            <label for="perfilAcceso">Perfil de Acceso:</label>
            <input id="perfilAcceso" type="text" [(ngModel)]="usuario.usuPerfilAcceso" name="perfilAcceso">
          </div>
          <div>
            <label for="cedula">Cédula:</label>
            <input id="cedula" type="text" [(ngModel)]="usuario.usuCedula" name="cedula">
          </div>
        </form>
      </div>
    </div>
    <button class="btn-guardar" (click)="guardar()">Guardar</button>
  
    <div class="table-data">
      <div class="order">
        <div class="head">
            <h3>Listado Usuarios</h3>
            <i class='bx bx-search'></i>
            <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
                <th *ngFor="let column of displayedColumns">{{ column }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of dataSource">
              <td>{{usuario.usuId}}</td>
              <td>{{usuario.usuNombre}}</td>
              <td>{{usuario.usuApellido}}</td>
              <td>{{usuario.usuCorreo}}</td>
              <td>{{usuario.usuPerfilAcceso}}</td>
              <td>{{usuario.usuCedula}}</td>
              <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar" >Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
