<!DOCTYPE html>
<html lang="es">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script src="javaScript.js"></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Maestria en software</title>
    <link rel="shortcut icon" href="img2/Logo simple.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="pantalla-principal.component.scss" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <app-navbar></app-navbar>
    <header>
      <nav>
        <!-- <a href="Datos.html"  >Inscribete aqui</a> -->
      </nav>
      <section class="textos-header">
        <!-- <h1>Maestria en software</h1>
            <h2>Universidad politecnica salesiana</h2> -->
      </section>
      <!-- <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div> -->
    </header>
    <main>
      <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Mision Vision</h2>
        <div class="contenedor-sobre-nosotros">
          <img
            src="../../../../assets/Img/Donbosco.jpg"
            alt=""
            class="imagen-about-us"
          />
          <div class="contenido-textos">
            <h3><span>1</span>Mision</h3>
            <p>
              La Universidad Politécnica Salesiana es una institución de
              educación superior humanística y politécnica de inspiración
              cristiana con carácter católico e índole salesiana; dirigida de
              manera preferencial a jóvenes de los sectores populares; busca
              formar “honrados ciudadanos y buenos cristianos”, con capacidad
              académica e investigativa que contribuyan al desarrollo sostenible
              local y nacional.
            </p>
            <h3><span>2</span>Vision</h3>
            <p>
              Ser una institución de educación superior de referencia en la
              búsqueda de la verdad y el desarrollo de la cultura, de la
              investigación científica y tecnológica; reconocida socialmente por
              su calidad académica, Responsabilidad Social Universitaria y por
              su capacidad de incidencia en lo intercultural.
            </p>
          </div>
        </div>
      </section>
      <section class="portafolio">
        <div class="contenedor">
          <h2 class="titulo">Presentacion</h2>
          <div id="presentacion">
            <div>
              <p class="texto1">
                “La era del conocimiento y de la tecnología ha dinamizado los
                entornos sociales y organizacionales, obligando a las empresas e
                instituciones a re-formular sus estrategias sustentándose como
                un pilar fundamental en la Tecnologías de Información y
                Comunicación (TICs). Hoy en día no se concibe empresas o
                instituciones que operen sin apoyo tecnológico, siendo en la
                actualidad una necesidad vehemente, que permite su crecimiento,
                mejora la productividad, agiliza la comunicación, fomenta el
                trabajo colaborativo, apoya la toma de decisiones e impulsa su
                crecimiento económico y sostenible. Es cada vez más imperiosa la
                necesidad de que se diseñen, construyan y produzcan sistemas
                empresariales a un costo menor, con mayor velocidad y con menos
                recursos; por lo que dando respuesta a esta necesidad se ha
                diseñado el programa de Maestría en Software, enfocado al
                fortalecimiento de las áreas de diseño arquitectónico y de
                desarrollo de software, por medio de dos menciones posibles bajo
                las titulaciones de: Magíster en Software con mención en
                Desarrollo Web y Móvil. Magíster en Software con mención en
                Diseño de Arquitectura de Sistemas. Este programa de posgrado
                busca formar profesionales en el campo de las
              </p>
            </div>
            <div>
              <p class="texto2">
                TICs mediante la especialización de sus conocimientos teóricos y
                prácticos en diseño arquitectónico de sistemas empresariales y
                en desarrollo de software web y móvil a un nivel avanzado,
                orientado a soluciones robustas y escalables, que den respuesta
                a las demandas de las empresas y la sociedad. Estos objetivos
                son posibles desde las perspectivas de: Especialización en el
                diseño de arquitecturas de sistemas empresariales y en el
                desarrollo de aplicaciones web y móviles avanzadas.
                Fortalecimiento de competencias técnicas especializadas para
                aplicar procesos de desarrollo de software basados en
                metodologías ágiles y de automatización. Formación en el
                desarrollo de sistemas orientados a inteligencia de negocios.
                Experticia en integración de sistemas empresariales a través de
                APIs. Concientización y adopción de buenas prácticas de
                desarrollo, software seguro y seguridad informática. Promoción
                de la usabilidad y accesibilidad a través del diseño de
                interfaces y experiencias de usuario en el desarrollo de
                soluciones web y móviles. Te invitamos a formar parte de este
                programa y a marcar un punto diferenciador en tu carrera
                profesional, en las que lleves tus conocimientos a un siguiente
                nivel.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="contenedor sobre-nosotros">
        <h3 class="uno">TÍTULO A OBTENER:</h3>
        <h2 class="subtitulo">MAGÍSTER EN SOFTWARE</h2>
        <div class="contenedor-sobre-nosotros">
          <div class="contenido-textos">
            <h3><span>1</span>Perfil de ingreso</h3>
            <p>
              El programa de Maestría en Software estará dirigido a
              profesionales que cuenten con titulaciones de tercer nivel de
              grado en el campo amplio de las Tecnologías de la información y la
              comunicación (TIC) y en el campo detallado de la Electrónica,
              automatización y sonido, que cuenten con al menos 1 año de
              experiencia en el desarrollo de software.
            </p>
            <h3><span>2</span>Perfil de egreso</h3>
            <p>
              Al finalizar los estudios el Magister en Software habrá
              fortalecido sus competencias en las áreas de arquitectura de
              software y desarrollo de software con la experiencia necesaria
              para:
            </p>
          </div>
          <img
            src="../../../../assets/Img/software2.jpg"
            alt=""
            class="imagen-about-us"
          />
        </div>
      </section>
      <section class="about-services">
        <div class="contenedor">
          <h2 class="titulo">Mas información</h2>
          <div class="servicio-cont">
            <div class="servicio-ind">
              <img src="../../../../assets/Img/img1.png" alt="" class="img1" />
              <h3>PRIMER PERIODO ACADEMICO</h3>
              <p class="texto3">
                <li>Diseño de arquitecturas</li>
                <li>Ingeniería de software</li>
                <li>Desarrollo de aplicaciones empresariales</li>
                <li>Patrones de diseño de APIs</li>
                <li>Patrones de diseño de software</li>
                <li>Metodología de la investigación</li>
              </p>
            </div>
            <div class="servicio-ind">
              <img src="../../../../assets/Img/img2.png" alt="" class="img1" />
              <h3>SEGUNDO PERIODO ACADEMICO</h3>
              <p class="texto3">
                <li>Diseño y desarrollo de software seguro</li>
                <li>Automatización de los procesos de software</li>
                <li>Trabajo de titulación</li>
              </p>
            </div>
            <div class="servicio-ind">
              <img src="../../../../assets/Img/img3.png" alt="" class="img1" />
              <h3>MENCIÓN DESARROLLO WEB Y MÓVIL</h3>
              <p class="texto3">
                <li>Desarrollo orientado a inteligencia de negocios</li>
                <li>Desarrollo de aplicaciones móviles</li>
                <li>Diseño de interfaces y experiencia de usuario</li>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="contenedor-footer">
        <div class="content-foo">
          <h4>Telefono</h4>
          <p>(07) 4135250</p>
        </div>
        <div class="content-foo">
          <h4>Email</h4>
          <p>IAschool.ups.edu.ec</p>
        </div>
        <div class="content-foo">
          <h4>Localizacion</h4>
          <p>Campus el vecino</p>
        </div>
      </div>
      <h2 class="titulo-final">&copy; IA School| MAESTRIA EN SOFTWARE</h2>
    </footer>
  </body>
</html>
