<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="inicio-sesion.component.scss" />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <h2 class="logo">Logo</h2>
      <nav class="navigation">
        <a href="#">Inicio</a>
        <button class="btnLogin-popup">Login</button>
      </nav>
    </header>

    <div class="wrapper">
      <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
            <input type="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"
              ><ion-icon name="lock-open-outline"></ion-icon>
            </span>
            <input type="password" required />
            <label>Password</label>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
