<section id="content-data"> 
        <div class="form-container">
            <div class="form-left">
              <form (ngSubmit)="guardar()">
                <div>
                  <label for="nombre">Nombre:</label>
                  <input id="nombre" type="text" [(ngModel)]="estudiante.usuNombre" name="nombre">
                </div>
                <div>
                  <label for="apellido">Apellido:</label>
                  <input id="apellido" type="text" [(ngModel)]="estudiante.usuApellido" name="apellido">
                </div>
                <div>
                  <label for="correo">Correo:</label>
                  <input id="correo" type="email" [(ngModel)]="estudiante.usuCorreo" name="correo">
                </div>
                <div>
                    <label for="id">Contraseña:</label>
                    <input id="id" type="password" [(ngModel)]="estudiante.usuPassword" name="password">
                </div>
              </form>
            </div>
            <div class="form-right">
              <div>
                <label for="cedula">Cédula:</label>
                <input id="cedula" type="text" [(ngModel)]="estudiante.usuCedula" name="cedula">
              </div>
              <div>
                <label for="perfil">Perfil de Acceso:</label>
                <input id="perfil" type="text" [(ngModel)]="estudiante.usuPerfilAcceso" name="perfil">
              </div>
              <div>
                <label for="grado">Grado Académico:</label>
                <input id="grado" type="text" [(ngModel)]="estudiante.estGradoAcademico" name="grado">
              </div>
            </div>
          </div>
          <button class="btn-guardar" (click)="guardar()">Guardar</button>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Listado Estudiantes</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th *ngFor="let column of displayedColumns">{{ column }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estudiante of dataSource">
                            <td>{{estudiante.usuNombre}}</td>
                            <td>{{estudiante.usuApellido}}</td>
                            <td>{{estudiante.usuCorreo}}</td>
                            <td>{{estudiante.usuCedula}}</td>
                            <td>{{estudiante.usuPerfilAcceso}}</td>
                            <td>{{estudiante.estGradoAcademico}}</td>
                            <td>{{estudiante.usuId}}</td>
                            <td>
                                <button (click)="guardar()">Editar</button>
                                <button (click)="guardar()">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>