<section id="content-data">
    <main>  
        
        <div class="form-data">

        </div>
        
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Listado Estudiantes</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Cedula</th>
                            <th>Perfil Acceso</th>
                            <th>Grado Academico</th>
                            <th>Id Estudiante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                
                            </td>
                            <td>

                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</section>