
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SistemaEdicativoWeb-primary: mat.define-palette(mat.$indigo-palette);
$SistemaEdicativoWeb-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$SistemaEdicativoWeb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SistemaEdicativoWeb-theme: mat.define-light-theme((
  color: (
    primary: $SistemaEdicativoWeb-primary,
    accent: $SistemaEdicativoWeb-accent,
    warn: $SistemaEdicativoWeb-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SistemaEdicativoWeb-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--azul: #162938;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--white: #e2e2e2;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}


#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 20px);
	left: 20px;
}

#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

#content-data {
    width: 100%;
}

#content-data {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

#content-data .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}

#content-data .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}

#content-data .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}

#content-data .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}

#content-data .table-data .head .bx {
	cursor: pointer;
}

#content-data .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}

#content-data .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}

#content-data .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}

#content-data .table-data .order table td {
	padding: 16px 0;
}

#content-data .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}

#content-data .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}

#content-data .table-data .order table tbody tr:hover {
	background: var(--grey);
}

#content-data .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

#content-data .table-data .order table tr td .status.completed {
	background: var(--blue);
}

#content-data .table-data .order table tr td .status.process {
	background: var(--yellow);
}

#content-data .table-data .order table tr td .status.pending {
	background: var(--orange);
}

//Formulario
.form-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--light);
    border-radius: 20px;
}

.form-left, .form-right {
    flex: 1;
    padding: 0 12px;
    box-sizing: border-box;
    background-color: var(--light);
}

.form-left input, .form-right input, .form-left select, .form-right select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--light);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.form-left input:focus, .form-right input:focus, .form-left select:focus, .form-right select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.form-left select, .form-right select {
	appearance: none;
}

.btn-guardar {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.btn-editar, .btn-eliminar {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.btn-editar:hover, .btn-eliminar:hover {
    opacity: 0.8;
}

.btn-editar:active, .btn-eliminar:active {
    opacity: 0.6;
}

.btn-editar:focus, .btn-eliminar:focus {
    outline: none;
}

.btn-editar {
    background-color: #3498db;
}

.btn-eliminar {
    background-color: #e74c3c;
}


@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}
}

@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}

	#content main .table-data {
		flex-direction: column;
	}

	#content main .table-data > div {
		flex: 1;
		min-width: 0;
	}
}