<app-dashboard></app-dashboard>
<section id="content" [style.left.px]="isSidebarHidden ? 60 : 280" [style.width.px]="
    isSidebarHidden ? 'calc(100% - 60px)' : 'calc(100% - 280px)'
  ">
  <app-gestion-docentes *ngIf="componentToShow === 'gestion-docentes'"></app-gestion-docentes>
  <app-gestion-estudiantes *ngIf="componentToShow === 'gestion-estudiantes'"></app-gestion-estudiantes>
  <app-gestion-grupos *ngIf="componentToShow === 'gestion-grupos'"></app-gestion-grupos>
  <app-gestion-matriculas *ngIf="componentToShow === 'gestion-matriculas'"></app-gestion-matriculas>
  <app-gestion-asignaturas *ngIf="componentToShow === 'gestion-asignaturas'"></app-gestion-asignaturas>
  <app-registro-horarios *ngIf="componentToShow === 'registro-horarios'"></app-registro-horarios>
  <app-edificio *ngIf="componentToShow === 'registro-edificio'"></app-edificio>
  <app-aula *ngIf="componentToShow === 'registro-aula'"></app-aula>
  <app-sistema-confg *ngIf="componentToShow === 'configuracion'" ></app-sistema-confg>
  <app-generacion-reportes *ngIf="componentToShow === 'generar-reporte'"></app-generacion-reportes>
</section>