<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="recuperacion-contrasenia.component.scss" />
  </head>
  <app-navbar></app-navbar>
  <body>
    <header>
      <div class="wrapper">
        <div class="form-box login">
          <div class="content">
            <h2>Recordar Contraseña</h2>
            <p>
              Para restablecer su contraseña, introduzca su dirección de correo
              electrónico institucional:
            </p>
            <br />
            <p>Dirección de correo electrónico institucional</p>
            <form action="#">
              <div class="input-box">
                <span class="icon">
                  <i class="bi bi-envelope-fill"></i>
                </span>
                <input type="text" required />
                <label>Correo</label>
              </div>
              <button type="submit" class="btn" routerLink="">Recuperar</button>
            </form>
          </div>
        </div>
      </div>
    </header>
  </body>
  <footer>
    <div class="contenedor-footer">
      <div class="content-foo">
        <h4>Telefono</h4>
        <p>(07) 4135250</p>
      </div>
      <div class="content-foo">
        <h4>Email</h4>
        <p>IAschool.ups.edu.ec</p>
      </div>
      <div class="content-foo">
        <h4>Localizacion</h4>
        <p>Campus el vecino</p>
      </div>
    </div>
    <h2 class="titulo-final">&copy; IA School| MAESTRIA EN SOFTWARE</h2>
  </footer>
</html>
