<section id="content-data"> 
  <div class="form-container">
      <div class="form-left">
        <form (ngSubmit)="guardar()">
          <div>
            <label for="nombre">Nombre:</label>
            <input id="nombre" type="text" [(ngModel)]="asignatura.asigNombre" name="nombre">
          </div>
          <div>
            <label for="creditos">Créditos:</label>
            <input id="creditos" type="number" [(ngModel)]="asignatura.asigCreditos" name="creditos">
          </div>
          <div>
            <label for="asigId">ID:</label>
            <input id="asigId" type="text" value="{{ asignatura.asigId }}" name="asigId" readonly>
          </div>
        </form>
      </div>
  </div>
  <button class="btn-guardar" (click)="guardar()">Guardar</button>

  <div class="table-data">
      <div class="order">
          <div class="head">
              <h3>Listado Asignaturas</h3>
              <i class='bx bx-search'></i>
              <i class='bx bx-filter'></i>
          </div>
          <table>
              <thead>
                  <tr>
                      <th *ngFor="let column of displayedColumns">{{ column }}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let asignatura of dataSource">
                      <td>{{ asignatura.asigNombre }}</td>
                      <td>{{ asignatura.asigCreditos }}</td>
                      <td>{{ asignatura.asigId }}</td>
                      <td>
                          <button class="btn-editar" (click)="guardar()">Editar</button>
                          <button class="btn-eliminar" (click)="guardar()">Eliminar</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</section>
